<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    {{ form_errors(form) }}

                    {{ form_start(form, {attr: {class: 'form',id: "login-form"}}) }}

                    {{ form_row(form.password.first) }}

                    {{ form_row(form.password.second) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>